/*#wpfooter {
    position: relative !important;
}
.col {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: left .5s cubic-bezier(0.250,0.460,0.450,0.940),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;
    transition: left .5s cubic-bezier(0.250,0.460,0.450,0.940),width .4s ease,padding .4s ease,box-shadow .4s ease,margin .4s ease,border .4s ease;
    background-color: #f5f5f5;
    border: 1px solid #d8d8d8;
    border-bottom-width: 2px;
    left: 0;
    margin: 10px auto 20px auto;
    max-width: 540px;
    min-width: 320px;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.col select, .col input {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #999;
    font-size: 12px;
    margin: 0 0 0 0;
    padding: 6px 8px;
}
a#jplt-remove {
    float: right;
    text-align: right;
    height: 20px;
    display: inline-block;
    line-height: 13px;
    font-size: 32px;
    text-shadow: none;
    border: none;
    color: white;
    background: rgb(202, 60, 60);
    -webkit-box-shadow: 0 1px 0 rgb(132, 29, 29);
    box-shadow: 0 1px 0 rgb(132, 29, 29);
}
.col input[type=checkbox]{
  width: auto;
}
.col-title {
    border-bottom: 2px solid white;
    font-size: 18px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.col .hiddenfields {
    
}
.hiddenfields .length,.hiddenfields .ssp,.hiddenfields .att {
    display: none;
}
a#jplt-add-new {
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 45px;
    font-size: 30px;
}
.meta-property-fields .prtog-op{
        margin: 0 auto;
    display: block;
    text-align: center;
    width: 150px;
}
input#foot-submit {
    margin: 0 auto;
    display: block;
}
.meta-property-fields.col {
    background-color: #d6d6d6;
}
ghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
.meta-property-fields {
    background-color: #FFFFFF;
    font-size: inherit;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    color: #34495E;
    max-width: 480px;
    min-width: 150px;
    font-size: 1em;
    line-height: 1.231;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}
#wpfooter{
    position: relative;
}
.meta-property-fields h3 {
    background-color: #9B59B6;
    border-top: 1px solid #B88ACB;
    border-bottom: 5px solid #78428E;
    margin: 0px;
    padding: 10px;
    color: white;
    font-size: 24px;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    border-radius: 5px 5px 0 0;
}
a#prtog-op {
    position: relative;
    display: block;
    width: 110px;
    text-align: center;
    margin: 10px auto;
    background-color: #e3d7e8;
    border: 1px solid #bca1c7;
    color: #78428e;
    text-shadow: none;
}
.jpltfields input, 
.jpltfields select, 
.col-type input, 
.col-type select,
.col-name input,
.col-name select
{
    border-style: solid;
    border-width: 2px;
    border-color: #bdc3c7;
    -webkit-transition: border-color 0.5s ease-in-out;
    transition: border-color 0.5s ease-in-out;
    border-radius: 3px;
    padding: 10px 10px 9px 2.3em;
    outline: none;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: normal;
    font-size: 1em;
    width: 100%;
    height: auto;
    margin: 5px 0;
}
.jpltfields input[type=radio], .jpltfields input[type=checkbox], .col-type input[type=radio], .col-type input[type=checkbox]{
       width: auto;
    height: 16px;
}
.wp-picker-container {
    width: 100%;
}
.jpltfields {
    padding: 10px;
}
.jpltfields h4 {
    padding: 10px 3px;
    background-color: #e6e1e6;
    color: black;
}
.jplt-column-wrapper {
    width: auto;
    display: block;
    position: relative;
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px auto;
}
.col {
    border: 1px solid grey;
    background-color: #FFFFFF;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    color: #34495E;
    max-width: 480px;
    min-width: 150px;
    font-size: 1em;
    line-height: 1.231;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.col-title {
    border-top: 1px solid #B88ACB;
    border-bottom: 5px solid #78428E;
    margin: 0px;
    padding: 10px;
    color: white;
    font-size: 24px;
    font-family: 'Roboto',Arial,Helvetica,sans-serif;
    border-radius: 5px 5px 0 0;
    background-color: #9b59b6;
}
a#jplt-remove {
    float: right;
    background-color: red;
    border: 1px solid #710606;
    color: white;
    font-size: 17px;
}
.col-type, .col-name {
    padding: 10px;
}

/*
*    Table options
*    post per page
*      table 
*      font size 
*      font family 
*      font color
*      font weight
*
*      th
*      Font size
*      font color
*      font weight
*      border color
*      border bottom
*      border top
*      border left
*      border right
*      
*      tr
*      border color
*      border bottom
*      border top
*      border left
*      border right

.jplt-table-wrap table{
    font-size: inherit;
    font-family: ;
    color: ;
    font-weight: ;

}
.jplt-table-wrap table th{
    font-size: ;
    color: ;
    font-weight: ;
    border-color: ;
    border-bottom: ;
    border-top: ;
    border-left: ;
    border-right: ;
}
.jplt-table-wrap table tr{
    border-color: ;
    border-right: ;
    border-top: ;
    border-left: ;
    border-bottom: ;
}*/

#jplt-tabs ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#jplt-tabs ul li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

#jplt-tabs ul li.current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}

#jplt-meta-wrap .tab-content,
#jplt-meta-wrap .tab-content p,
#jplt-meta-wrap .tab-content input,
#jplt-meta-wrap .tab-content select{
    font-size: 14px !important;
}


.meta-property-fields p, #jplt-meta-wrap .col-type , #jplt-meta-wrap .col-name{
    max-width: 400px;
}
.meta-property-fields p input,
.meta-property-fields p select,
#jplt-meta-wrap .col input,
#jplt-meta-wrap .col select{
    width: 100%;
}
.meta-property-fields input[type=checkbox],
#jplt-meta-wrap .col input[type=checkbox]{
  width: auto;
}
.col {
    background-color: white;
    margin: 20px 0;
    padding: 10px;
    border: 1px dashed #b9b9b9;
}
a#jplt-remove {
    float: right;
}
.col-title {
    font-size: 18px;
    border-bottom: 1px dashed grey;
    padding-bottom: 10px;
}
.col-type {
    padding-top: 20px;
}
p.ssp, p.att, p.length {
    display: none;
}